::ng-deep {

}
:host ::ng-deep button {
	margin: 20px ;
}

img{
  max-width: 300px;
  max-height: 300px;
}

.radioDiv{
  display: inline-block;
  padding: 10px;
}
.radioDiv img{
  display: block;
}



.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}
.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}



#mainPage{
	margin-top: 20px;
	display: inline-block;
	align-self: center;
    background-color: white;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }














