<div id="mainPage" >



<h3>Taille</h3>
<div class="radioDiv" >
  <!-- <img src="../../assets/téléchargé.png" (click)="selectedSize='XS'"> -->
  <p-radioButton (click)="priceEstimate()" name="taille" value="XS" label="XS10*10" [(ngModel)]="selectedSize "></p-radioButton >
</div>
<div class="radioDiv">
  <!-- <img src="../../assets/téléchargé.png" (click)="selectedSize='S'"> -->
  <p-radioButton (click)="priceEstimate()" name="taille" value="S" label="S 15*15" [(ngModel)]="selectedSize "></p-radioButton >
</div>

<div class="radioDiv">
  <!-- <img src="../../assets/téléchargé.png" (click)="selectedSize='M'"> -->
  <p-radioButton (click)="priceEstimate()" name="taille" value="M" label="M 20*20" [(ngModel)]="selectedSize "></p-radioButton >
</div>

<div class="radioDiv">
  <!-- <img src="../../assets/téléchargé.png" (click)="selectedSize='L'"> -->
  <p-radioButton (click)="priceEstimate()" name="taille" value="L" label="L 30*30" [(ngModel)]="selectedSize "></p-radioButton >
</div>
<div class="radioDiv">
  <!-- <img src="../../assets/téléchargé.png" (click)="selectedSize='XL'"> -->
  <p-radioButton (click)="priceEstimate()" name="taille" value="XL" label="XL 40*40" [(ngModel)]="selectedSize "></p-radioButton >
</div>

<div class="divider div-transparent div-dot"></div>

<div >
  <div>
    <h3>Nombre de plantes</h3>
    <div class="radioDiv" (click)="selectedPlantNumber='1'; priceEstimate()">
      <img src="../../assets/1 plante.jpg">
      <p-radioButton (click)="priceEstimate()"  name="size" value="1" label="1" [(ngModel)]="selectedPlantNumber "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="selectedPlantNumber='2' ; priceEstimate()" *ngIf="selectedSize ==='S' || selectedSize ==='M' || selectedSize ==='L' || selectedSize ==='XL' ">
      <img src="../../assets/2plante.jpg">
      <p-radioButton (click)="priceEstimate()" name="size" value="2" label="2" [(ngModel)]="selectedPlantNumber "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="selectedPlantNumber='3' ; priceEstimate()"  *ngIf="selectedSize ==='M' || selectedSize ==='L' || selectedSize ==='XL'">
      <img src="../../assets/3plante.jpg">
      <p-radioButton (click)="priceEstimate()" name="size" value="3" label="3" [(ngModel)]="selectedPlantNumber "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="selectedPlantNumber='4' ; priceEstimate()"  *ngIf="selectedSize ==='L' || selectedSize ==='XL'" >
      <img src="../../assets/4plante.jpg">
      <p-radioButton (click)="priceEstimate()" name="size" value="4" label="4" [(ngModel)]="selectedPlantNumber "></p-radioButton >
    </div>
  </div>

  <div class="divider div-transparent div-dot"></div>

  <div>
    <h3>Type de pot</h3>
    <div class="radioDiv" (click)="selectedPotType='ampoule' ; priceEstimate()">
      <img src="../../assets/ampoule.jpeg">
      <p-radioButton (click)="priceEstimate()" name="size" value="ampoule" label="Ampoule" [(ngModel)]="selectedPotType "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="selectedPotType='oeuf' ; priceEstimate()" *ngIf="selectedSize ==='S' || selectedSize ==='M' ">
      <img src="../../assets/oeuf.jpg">
      <p-radioButton (click)="priceEstimate()" name="size" value="oeuf" label="Oeuf" [(ngModel)]="selectedPotType "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="selectedPotType='Bocaux' ; priceEstimate()">
      <img src="../../assets/bocaux.jpg">
      <p-radioButton (click)="priceEstimate()" name="size" value="Bocaux" label="Bocal" [(ngModel)]="selectedPotType "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="selectedPotType='Bocal liege' ; priceEstimate() ">
      <img src="../../assets/bocalliege.jpg">
      <p-radioButton (click)="priceEstimate()" name="size" value="Bocal liege" label="Bocal liège" [(ngModel)]="selectedPotType "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="selectedPotType='layton'; priceEstimate()" *ngIf="selectedSize ==='S' || selectedSize ==='M' || selectedSize ==='L' ">
      <img src="../../assets/layton.jpg">
      <p-radioButton (click)="priceEstimate()" name="size" value="layton" label="Layton" [(ngModel)]="selectedPotType "></p-radioButton >
    </div>
  </div>

  <div class="divider div-transparent div-dot"></div>


  <div>
    <h3>Type de plantes</h3>
    <p>(plusieurs choix possibles)</p>
    <div class="radioDiv" >
      <img src="../../assets/succulente.jpg" >
      <p-checkbox  (click)="priceEstimate()" name="plante type" value="succulentes" label="Succulentes" [(ngModel)]="selectedPlantType"></p-checkbox >
    </div>
    <div class="radioDiv">
      <img src="../../assets/cactus.jpg">
      <p-checkbox (click)="priceEstimate()" name="plante type" value="cactus" label="Cactus" [(ngModel)]="selectedPlantType"></p-checkbox >
    </div>
    <div class="radioDiv">
      <img src="../../assets/tropical.jpg">
      <p-checkbox  (click)="priceEstimate()" name="plante type" value="tropical" label="Tropicales" [(ngModel)]="selectedPlantType"></p-checkbox >
    </div>
    <div class="radioDiv" *ngIf="selectedSize ==='S' || selectedSize ==='M' || selectedSize ==='L' || selectedSize ==='XL'">
      <img src="../../assets/ficus.webp">
      <p-checkbox (click)="priceEstimate()"  name="plante type" value="ficus" label="Ficus" [(ngModel)]="selectedPlantType"></p-checkbox >
    </div>
  </div>

  <div class="divider div-transparent div-dot"></div>

  <div>
    <h3>Figurine</h3>
    <div class="radioDiv" (click)="boolFigurine='non' ; priceEstimate()">
      <img src="../../assets/ampoule.jpeg">
      <p-radioButton (click)="priceEstimate()" name="figurine" value="non" label="Non" [(ngModel)]="boolFigurine "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="boolFigurine='oui' ; priceEstimate()">
      <img src="../../assets/figurine.jpg">
      <p-radioButton (click)="priceEstimate()"name="figurine" value="oui" label="Oui" [(ngModel)]="boolFigurine "></p-radioButton >
    </div>
  </div>

  <div class="divider div-transparent div-dot"></div>

  <div>
    <h3>Environnement</h3>
    <div class="radioDiv" (click)="selectedEnvironnement='vert' ; priceEstimate()">
      <img src="../../assets/2plante.jpg">
      <p-radioButton (click)="priceEstimate()" name="figurine" value="vert" label="Boisé" [(ngModel)]="selectedEnvironnement "></p-radioButton >
    </div>
    <div class="radioDiv" (click)="selectedEnvironnement='sable' ; priceEstimate()">
      <img src="../../assets/sable.jpg">
      <p-radioButton (click)="priceEstimate()"name="figurine" value="sable" label="Sable" [(ngModel)]="selectedEnvironnement "></p-radioButton >
    </div>
  </div>

  <div class="divider div-transparent div-dot"></div>

  <h3>Dis moi ce qui te plairait</h3>
  <textarea [rows]="5" [cols]="100" pInputTextarea [autoResize]="autoResize" [(ngModel)]="textAvis" style="width: 90%;"></textarea>

</div>
<div>
  <h3>Ton mail</h3>
    <input type="text" id="inputtext" pInputText [(ngModel)]="mail"> 
</div>

<p>
  Le prix est estimé à <strong style="font-size: 30px;"> {{price}} € </strong> 
</p>

<form [formGroup]="feedbackForm" name="feedbackForm" (ngSubmit)="onSubmit()">
  <button pButton pRipple type="submit" label="Envoie de la demande" class="p-button-rounded"></button>
</form>





</div>




<!-- <div class="header">
  <div class="logo">
    <img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646339469/angular_wzrs5o.png">
  </div>
</div><h3>Multiple Selection</h3>
<p-selectButton [options]="paymentOptions" [(ngModel)]="value2" multiple="multiple" optionLabel="name"
	optionValue="value"></p-selectButton>
<div class="resource-list">
  <h2>
      Here are some resources to help you on your Angular + Netlify journey:
  </h2>
  <ul>
    <li>
      <a href="https://github.com/netlify-templates/angular-quickstart">The Angular Quickstart repo</a>
    </li>
    <li>
      <a href="https://www.netlify.com/tags/angular/">Netlify Blog: Angular posts</a>
    <li>
      <a href="https://docs.netlify.com/">Netlify Docs</a>
    </li>
    <li>
      <a href="https://angular.io/">Angular Docs</a>
    </li>
  </ul>
</div>
<footer class="footer">
  Made with <a href="https://netlify.com"><img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg" alt="Netlify Logo" /></a> for you!
</footer> -->