html { 
  background: url('./assets/vector-low-poly-forest.webp') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  }
  @import "~@angular/cdk/overlay-prebuilt.css";
  .ks-modal-gallery-backdrop {
            background: #000 !important;;
            opacity: 0.85 !important;;
  }
  .ks-modal-gallery-panel {
            z-index: 90000 !important;
  }

